JWT header deserializer doesn't ignore not understood parameters instead it throws an exception 

In our project we configure OIDC Identity Provider for an external identity provider that responds with an `ID token` containing custom private parameter in the token header. 

According to the RFC 7515 section 4 where JOSE Header is defined

> Unless listed as a critical Header Parameter, per Section 4.1.11, all Header Parameters not defined by this specification MUST be ignored when not understood.

It turns out that UAA doesn't ignore not understood header parameters instead it throws an exception while deserializing the header section.

I have found some old discussion around this https://www.pivotaltracker.com/n/projects/997278/stories/161025678 but this doesn't comply with the rfc. 

I have prepared a PR #1709 that ignores unknown, what was previously proposed.

### What version of UAA are you running?

75.8.0

What output do you see from `curl <YOUR_UAA>/info -H 'Accept: application/json'`?
```json
{
  "app": {
    "version": "v75.8.0"
  },
  "defaultIdpName": "sample-idp",
  "links": {
    "uaa": "https://uaa.auth.localhost",
    "passwd": "/forgot_password",
    "login": "https://auth.localhost",
    "register": "/create_account"
  },
  "zone_name": "Root Tenant",
  "entityID": "uaa.cloudfoundry",
  "commit_id": "2d3097d",
  "idpDefinitions": {},
  "prompts": {
    "username": [
      "text",
      "Email"
    ],
    "password": [
      "password",
      "Password"
    ]
  },
  "timestamp": "2021-10-28T08:59:05+0000"
}
```

### How are you deploying the UAA?

I am deploying the UAA

- locally only using gradlew

### What did you do?

I have configured and OIDC Identity Provider. OAuth client with allowed providers pointing to this provider, with grant type set to `authorization_code`.

I start authorization code flow in the browser with the created client.

### What did you expect to see? What goal are you trying to achieve with the UAA?

I'm successfully authenticated against external identity provider and I'm redirected back to `redirect_uri` with an authorization code.

### What did you see instead?

When I'm redirected back to UAA from external identity provider I get an error page with: 

> "There was an error when authenticating against the external identity provider: Invalid token (could not decode): \<id token\>".


Please include UAA logs if available.

```
[UAA] [2021-10-28T21:37:45.316813Z] uaa - 1 [http-nio-8080-exec-6] .... ERROR --- ExternalOAuthAuthenticationFilter: ExternalOAuth Authentication exception
org.springframework.security.oauth2.common.exceptions.InvalidTokenException: Invalid token (could not decode): <id token>
	at org.cloudfoundry.identity.uaa.util.UaaTokenUtils.getClaims(UaaTokenUtils.java:251) ~[cloudfoundry-identity-server-v75.8.0.jar:?]
	at org.cloudfoundry.identity.uaa.util.TokenValidation.<init>(TokenValidation.java:92) ~[cloudfoundry-identity-server-v75.8.0.jar:?]
	at org.cloudfoundry.identity.uaa.util.TokenValidation$IdTokenValidation.<init>(TokenValidation.java:520) ~[cloudfoundry-identity-server-v75.8.0.jar:?]
	at org.cloudfoundry.identity.uaa.util.TokenValidation.buildIdTokenValidator(TokenValidation.java:77) ~[cloudfoundry-identity-server-v75.8.0.jar:?]
	at org.cloudfoundry.identity.uaa.provider.oauth.ExternalOAuthAuthenticationManager.validateToken(ExternalOAuthAuthenticationManager.java:588) ~[cloudfoundry-identity-server-v75.8.0.jar:?]
	at org.cloudfoundry.identity.uaa.provider.oauth.ExternalOAuthAuthenticationManager.getClaimsFromToken(ExternalOAuthAuthenticationManager.java:563) ~[cloudfoundry-identity-server-v75.8.0.jar:?]
	at org.cloudfoundry.identity.uaa.provider.oauth.ExternalOAuthAuthenticationManager.getClaimsFromToken(ExternalOAuthAuthenticationManager.java:496) ~[cloudfoundry-identity-server-v75.8.0.jar:?]
	at org.cloudfoundry.identity.uaa.provider.oauth.ExternalOAuthAuthenticationManager.getExternalAuthenticationDetails(ExternalOAuthAuthenticationManager.java:220) ~[cloudfoundry-identity-server-v75.8.0.jar:?]
	at org.cloudfoundry.identity.uaa.provider.oauth.ExternalOAuthAuthenticationManager.getExternalAuthenticationDetails(ExternalOAuthAuthenticationManager.java:105) ~[cloudfoundry-identity-server-v75.8.0.jar:?]
	at org.cloudfoundry.identity.uaa.authentication.manager.ExternalLoginAuthenticationManager.authenticate(ExternalLoginAuthenticationManager.java:118) ~[cloudfoundry-identity-server-v75.8.0.jar:?]
	at org.cloudfoundry.identity.uaa.provider.oauth.ExternalOAuthAuthenticationFilter.authenticationWasSuccessful(ExternalOAuthAuthenticationFilter.java:111) [cloudfoundry-identity-server-v75.8.0.jar:?]
	at org.cloudfoundry.identity.uaa.provider.oauth.ExternalOAuthAuthenticationFilter.doFilter(ExternalOAuthAuthenticationFilter.java:65) [cloudfoundry-identity-server-v75.8.0.jar:?]
	at org.springframework.security.web.FilterChainProxy$VirtualFilterChain.doFilter(FilterChainProxy.java:336) [spring-security-web-5.4.8.jar:5.4.8]
	at org.springframework.security.web.header.HeaderWriterFilter.doHeadersAfter(HeaderWriterFilter.java:90) [spring-security-web-5.4.8.jar:5.4.8]
	at org.springframework.security.web.header.HeaderWriterFilter.doFilterInternal(HeaderWriterFilter.java:75) [spring-security-web-5.4.8.jar:5.4.8]
	at org.springframework.web.filter.OncePerRequestFilter.doFilter(OncePerRequestFilter.java:119) [spring-web-5.3.10.jar:5.3.10]
	at org.springframework.security.web.FilterChainProxy$VirtualFilterChain.doFilter(FilterChainProxy.java:336) [spring-security-web-5.4.8.jar:5.4.8]
	at org.springframework.security.web.context.request.async.WebAsyncManagerIntegrationFilter.doFilterInternal(WebAsyncManagerIntegrationFilter.java:55) [spring-security-web-5.4.8.jar:5.4.8]
	at org.springframework.web.filter.OncePerRequestFilter.doFilter(OncePerRequestFilter.java:119) [spring-web-5.3.10.jar:5.3.10]
	at org.springframework.security.web.FilterChainProxy$VirtualFilterChain.doFilter(FilterChainProxy.java:336) [spring-security-web-5.4.8.jar:5.4.8]
	at org.springframework.security.web.context.SecurityContextPersistenceFilter.doFilter(SecurityContextPersistenceFilter.java:110) [spring-security-web-5.4.8.jar:5.4.8]
	at org.springframework.security.web.context.SecurityContextPersistenceFilter.doFilter(SecurityContextPersistenceFilter.java:80) [spring-security-web-5.4.8.jar:5.4.8]
	at org.springframework.security.web.FilterChainProxy$VirtualFilterChain.doFilter(FilterChainProxy.java:336) [spring-security-web-5.4.8.jar:5.4.8]
	at org.cloudfoundry.identity.uaa.security.web.SecurityFilterChainPostProcessor$UaaLoggingFilter.doFilter(SecurityFilterChainPostProcessor.java:259) [cloudfoundry-identity-server-v75.8.0.jar:?]
	at org.cloudfoundry.identity.uaa.security.web.SecurityFilterChainPostProcessor$HttpsEnforcementFilter.doFilter(SecurityFilterChainPostProcessor.java:202) [cloudfoundry-identity-server-v75.8.0.jar:?]
	at org.springframework.security.web.FilterChainProxy$VirtualFilterChain.doFilter(FilterChainProxy.java:336) [spring-security-web-5.4.8.jar:5.4.8]
	at org.cloudfoundry.identity.uaa.oauth.DisableIdTokenResponseTypeFilter.doFilterInternal(DisableIdTokenResponseTypeFilter.java:86) [cloudfoundry-identity-server-v75.8.0.jar:?]
	at org.springframework.web.filter.OncePerRequestFilter.doFilter(OncePerRequestFilter.java:119) [spring-web-5.3.10.jar:5.3.10]
	at org.springframework.security.web.FilterChainProxy$VirtualFilterChain.doFilter(FilterChainProxy.java:336) [spring-security-web-5.4.8.jar:5.4.8]
	at org.cloudfoundry.identity.uaa.zone.IdentityZoneResolvingFilter.doFilterInternal(IdentityZoneResolvingFilter.java:78) [cloudfoundry-identity-server-v75.8.0.jar:?]
	at org.springframework.web.filter.OncePerRequestFilter.doFilter(OncePerRequestFilter.java:119) [spring-web-5.3.10.jar:5.3.10]
	at org.springframework.security.web.FilterChainProxy$VirtualFilterChain.doFilter(FilterChainProxy.java:336) [spring-security-web-5.4.8.jar:5.4.8]
	at org.cloudfoundry.identity.uaa.web.LimitedModeUaaFilter.doFilterInternal(LimitedModeUaaFilter.java:73) [cloudfoundry-identity-server-v75.8.0.jar:?]
	at org.springframework.web.filter.OncePerRequestFilter.doFilter(OncePerRequestFilter.java:119) [spring-web-5.3.10.jar:5.3.10]
	at org.springframework.security.web.FilterChainProxy$VirtualFilterChain.doFilter(FilterChainProxy.java:336) [spring-security-web-5.4.8.jar:5.4.8]
	at org.cloudfoundry.identity.uaa.security.web.CorsFilter.doFilterInternal(CorsFilter.java:137) [cloudfoundry-identity-server-v75.8.0.jar:?]
	at org.springframework.web.filter.OncePerRequestFilter.doFilter(OncePerRequestFilter.java:119) [spring-web-5.3.10.jar:5.3.10]
	at org.springframework.security.web.FilterChainProxy$VirtualFilterChain.doFilter(FilterChainProxy.java:336) [spring-security-web-5.4.8.jar:5.4.8]
	at org.cloudfoundry.identity.uaa.authentication.UTF8ConversionFilter.validateParamsAndContinue(UTF8ConversionFilter.java:75) [cloudfoundry-identity-server-v75.8.0.jar:?]
	at org.cloudfoundry.identity.uaa.authentication.UTF8ConversionFilter.doFilter(UTF8ConversionFilter.java:59) [cloudfoundry-identity-server-v75.8.0.jar:?]
	at org.springframework.security.web.FilterChainProxy$VirtualFilterChain.doFilter(FilterChainProxy.java:336) [spring-security-web-5.4.8.jar:5.4.8]
	at org.cloudfoundry.identity.uaa.web.HeaderFilter.doFilter(HeaderFilter.java:52) [cloudfoundry-identity-server-v75.8.0.jar:?]
	at org.springframework.security.web.FilterChainProxy$VirtualFilterChain.doFilter(FilterChainProxy.java:336) [spring-security-web-5.4.8.jar:5.4.8]
	at org.cloudfoundry.identity.uaa.metrics.UaaMetricsFilter.doFilterInternal(UaaMetricsFilter.java:84) [cloudfoundry-identity-server-v75.8.0.jar:?]
	at org.springframework.web.filter.OncePerRequestFilter.doFilter(OncePerRequestFilter.java:119) [spring-web-5.3.10.jar:5.3.10]
	at org.springframework.security.web.FilterChainProxy$VirtualFilterChain.doFilter(FilterChainProxy.java:336) [spring-security-web-5.4.8.jar:5.4.8]
	at org.springframework.security.web.FilterChainProxy.doFilterInternal(FilterChainProxy.java:211) [spring-security-web-5.4.8.jar:5.4.8]
	at org.springframework.security.web.FilterChainProxy.doFilter(FilterChainProxy.java:183) [spring-security-web-5.4.8.jar:5.4.8]
	at org.springframework.web.filter.DelegatingFilterProxy.invokeDelegate(DelegatingFilterProxy.java:358) [spring-web-5.3.10.jar:5.3.10]
	at org.springframework.web.filter.DelegatingFilterProxy.doFilter(DelegatingFilterProxy.java:271) [spring-web-5.3.10.jar:5.3.10]
	at org.apache.catalina.core.ApplicationFilterChain.internalDoFilter(ApplicationFilterChain.java:189) [embedded-tomcat.jar:task ':shadowJar' property 'archiveVersion']
	at org.apache.catalina.core.ApplicationFilterChain.doFilter(ApplicationFilterChain.java:162) [embedded-tomcat.jar:task ':shadowJar' property 'archiveVersion']
	at org.springframework.web.filter.RequestContextFilter.doFilterInternal(RequestContextFilter.java:100) [spring-web-5.3.10.jar:5.3.10]
	at org.springframework.web.filter.OncePerRequestFilter.doFilter(OncePerRequestFilter.java:119) [spring-web-5.3.10.jar:5.3.10]
	at org.apache.catalina.core.ApplicationFilterChain.internalDoFilter(ApplicationFilterChain.java:189) [embedded-tomcat.jar:task ':shadowJar' property 'archiveVersion']
	at org.apache.catalina.core.ApplicationFilterChain.doFilter(ApplicationFilterChain.java:162) [embedded-tomcat.jar:task ':shadowJar' property 'archiveVersion']
	at org.springframework.session.web.http.SessionRepositoryFilter.doFilterInternal(SessionRepositoryFilter.java:141) [spring-session-core-2.4.5.jar:2.4.5]
	at org.springframework.session.web.http.OncePerRequestFilter.doFilter(OncePerRequestFilter.java:82) [spring-session-core-2.4.5.jar:2.4.5]
	at org.springframework.web.filter.DelegatingFilterProxy.invokeDelegate(DelegatingFilterProxy.java:358) [spring-web-5.3.10.jar:5.3.10]
	at org.springframework.web.filter.DelegatingFilterProxy.doFilter(DelegatingFilterProxy.java:271) [spring-web-5.3.10.jar:5.3.10]
	at org.apache.catalina.core.ApplicationFilterChain.internalDoFilter(ApplicationFilterChain.java:189) [embedded-tomcat.jar:task ':shadowJar' property 'archiveVersion']
	at org.apache.catalina.core.ApplicationFilterChain.doFilter(ApplicationFilterChain.java:162) [embedded-tomcat.jar:task ':shadowJar' property 'archiveVersion']
	at org.apache.catalina.filters.HttpHeaderSecurityFilter.doFilter(HttpHeaderSecurityFilter.java:126) [embedded-tomcat.jar:task ':shadowJar' property 'archiveVersion']
	at org.apache.catalina.core.ApplicationFilterChain.internalDoFilter(ApplicationFilterChain.java:189) [embedded-tomcat.jar:task ':shadowJar' property 'archiveVersion']
	at org.apache.catalina.core.ApplicationFilterChain.doFilter(ApplicationFilterChain.java:162) [embedded-tomcat.jar:task ':shadowJar' property 'archiveVersion']
	at org.apache.catalina.core.StandardWrapperValve.invoke(StandardWrapperValve.java:202) [embedded-tomcat.jar:task ':shadowJar' property 'archiveVersion']
	at org.apache.catalina.core.StandardContextValve.invoke(StandardContextValve.java:97) [embedded-tomcat.jar:task ':shadowJar' property 'archiveVersion']
	at org.apache.catalina.authenticator.AuthenticatorBase.invoke(AuthenticatorBase.java:542) [embedded-tomcat.jar:task ':shadowJar' property 'archiveVersion']
	at org.apache.catalina.core.StandardHostValve.invoke(StandardHostValve.java:143) [embedded-tomcat.jar:task ':shadowJar' property 'archiveVersion']
	at org.apache.catalina.valves.ErrorReportValve.invoke(ErrorReportValve.java:92) [embedded-tomcat.jar:task ':shadowJar' property 'archiveVersion']
	at org.apache.catalina.core.StandardEngineValve.invoke(StandardEngineValve.java:78) [embedded-tomcat.jar:task ':shadowJar' property 'archiveVersion']
	at org.apache.catalina.valves.RemoteIpValve.invoke(RemoteIpValve.java:764) [embedded-tomcat.jar:task ':shadowJar' property 'archiveVersion']
	at org.apache.catalina.connector.CoyoteAdapter.service(CoyoteAdapter.java:357) [embedded-tomcat.jar:task ':shadowJar' property 'archiveVersion']
	at org.apache.coyote.http11.Http11Processor.service(Http11Processor.java:374) [embedded-tomcat.jar:task ':shadowJar' property 'archiveVersion']
	at org.apache.coyote.AbstractProcessorLight.process(AbstractProcessorLight.java:65) [embedded-tomcat.jar:task ':shadowJar' property 'archiveVersion']
	at org.apache.coyote.AbstractProtocol$ConnectionHandler.process(AbstractProtocol.java:893) [embedded-tomcat.jar:task ':shadowJar' property 'archiveVersion']
	at org.apache.tomcat.util.net.NioEndpoint$SocketProcessor.doRun(NioEndpoint.java:1707) [embedded-tomcat.jar:task ':shadowJar' property 'archiveVersion']
	at org.apache.tomcat.util.net.SocketProcessorBase.run(SocketProcessorBase.java:49) [embedded-tomcat.jar:task ':shadowJar' property 'archiveVersion']
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128) [?:?]
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628) [?:?]
	at org.apache.tomcat.util.threads.TaskThread$WrappingRunnable.run(TaskThread.java:61) [embedded-tomcat.jar:task ':shadowJar' property 'archiveVersion']
	at java.lang.Thread.run(Thread.java:829) [?:?]
Caused by: org.cloudfoundry.identity.uaa.util.JsonUtils$JsonUtilException: com.fasterxml.jackson.databind.exc.UnrecognizedPropertyException: Unrecognized field "keyid" (class org.cloudfoundry.identity.uaa.oauth.jwt.HeaderParameters), not marked as ignorable (13 known properties: "kid", "cty", "typ", "x5t#S256", "iv", "jku", "x5t", "x5u", "enc", "alg", "jwk", "x5c", "crit"])
 at [Source: (byte[])"{"typ":"JWT","alg":"RS256","kid":"NzQ4M0EyQzdBNDEwQUVGMjZBREYwMzk2OEE5QTdGQTBEMjFBMA","keyid":"NzQ4M0EyQzdBNDEwQUVGMjZBREYwMzk2OEE5QTdGQTBEMjFBMA"}"; line: 1, column: 100] (through reference chain: org.cloudfoundry.identity.uaa.oauth.jwt.HeaderParameters["keyid"])
	at org.cloudfoundry.identity.uaa.util.JsonUtils.readValue(JsonUtils.java:66) ~[cloudfoundry-identity-metrics-data-v75.8.0.jar:?]
	at org.cloudfoundry.identity.uaa.oauth.jwt.JwtHeaderHelper.create(JwtHelper.java:76) ~[cloudfoundry-identity-server-v75.8.0.jar:?]
	at org.cloudfoundry.identity.uaa.oauth.jwt.JwtHelper.decode(JwtHelper.java:37) ~[cloudfoundry-identity-server-v75.8.0.jar:?]
	at org.cloudfoundry.identity.uaa.util.UaaTokenUtils.getClaims(UaaTokenUtils.java:249) ~[cloudfoundry-identity-server-v75.8.0.jar:?]
	... 81 more
Caused by: com.fasterxml.jackson.databind.exc.UnrecognizedPropertyException: Unrecognized field "keyid" (class org.cloudfoundry.identity.uaa.oauth.jwt.HeaderParameters), not marked as ignorable (13 known properties: "kid", "cty", "typ", "x5t#S256", "iv", "jku", "x5t", "x5u", "enc", "alg", "jwk", "x5c", "crit"])
 at [Source: (byte[])"{"typ":"JWT","alg":"RS256","kid":"NzQ4M0EyQzdBNDEwQUVGMjZBREYwMzk2OEE5QTdGQTBEMjFBMA","keyid":"NzQ4M0EyQzdBNDEwQUVGMjZBREYwMzk2OEE5QTdGQTBEMjFBMA"}"; line: 1, column: 100] (through reference chain: org.cloudfoundry.identity.uaa.oauth.jwt.HeaderParameters["keyid"])
	at com.fasterxml.jackson.databind.exc.UnrecognizedPropertyException.from(UnrecognizedPropertyException.java:61) ~[jackson-databind-2.11.4.jar:2.11.4]
	at com.fasterxml.jackson.databind.DeserializationContext.handleUnknownProperty(DeserializationContext.java:855) ~[jackson-databind-2.11.4.jar:2.11.4]
	at com.fasterxml.jackson.databind.deser.std.StdDeserializer.handleUnknownProperty(StdDeserializer.java:1212) ~[jackson-databind-2.11.4.jar:2.11.4]
	at com.fasterxml.jackson.databind.deser.BeanDeserializerBase.handleUnknownProperty(BeanDeserializerBase.java:1604) ~[jackson-databind-2.11.4.jar:2.11.4]
	at com.fasterxml.jackson.databind.deser.BeanDeserializerBase.handleUnknownVanilla(BeanDeserializerBase.java:1582) ~[jackson-databind-2.11.4.jar:2.11.4]
	at com.fasterxml.jackson.databind.deser.BeanDeserializer.vanillaDeserialize(BeanDeserializer.java:299) ~[jackson-databind-2.11.4.jar:2.11.4]
	at com.fasterxml.jackson.databind.deser.BeanDeserializer.deserialize(BeanDeserializer.java:156) ~[jackson-databind-2.11.4.jar:2.11.4]
	at com.fasterxml.jackson.databind.ObjectMapper._readMapAndClose(ObjectMapper.java:4526) ~[jackson-databind-2.11.4.jar:2.11.4]
	at com.fasterxml.jackson.databind.ObjectMapper.readValue(ObjectMapper.java:3529) ~[jackson-databind-2.11.4.jar:2.11.4]
	at org.cloudfoundry.identity.uaa.util.JsonUtils.readValue(JsonUtils.java:61) ~[cloudfoundry-identity-metrics-data-v75.8.0.jar:?]
	at org.cloudfoundry.identity.uaa.oauth.jwt.JwtHeaderHelper.create(JwtHelper.java:76) ~[cloudfoundry-identity-server-v75.8.0.jar:?]
	at org.cloudfoundry.identity.uaa.oauth.jwt.JwtHelper.decode(JwtHelper.java:37) ~[cloudfoundry-identity-server-v75.8.0.jar:?]
	at org.cloudfoundry.identity.uaa.util.UaaTokenUtils.getClaims(UaaTokenUtils.java:249) ~[cloudfoundry-identity-server-v75.8.0.jar:?]
	... 81 more


```

We have created an issue in Pivotal Tracker to manage this: 

https://www.pivotaltracker.com/story/show/180124208 

The labels on this github issue will be updated when the story is started.

Hi and thanks, 
in general I am with you and that should be fixed. You provided a PR already. That is perfect, however  the CLA needs to be fullfilled, see https://api.easycla.lfx.linuxfoundation.org/v2/repository-provider/github/sign/1797134/3382195/1709/#/?version=2

I will have an additional deeper look on it and include this fix into next release ( next 2-3 weeks)