Access token scope parameter expressed as an array of string instead of a list of space-delimited strings

### What version of UAA are you running?
"app":{
"version": "4.5.0"
}

### How are you deploying the UAA?
I am deploying the UAA
- locally only using gradlew


### What did you do?

My scenario:
* I obtain my admin client token
* I create a client application with scopes [ ..., "weatherUP.favoritescities.read"]
> {
  "scope" : [ "cloud_controller.read", "cloud_controller.write", "openid", "password.write", "scim.userids", "organizations.acme", "tokens.list", "weatherUP.favoritescities.read"],
  "client_id" : "weatherAppUP",
  "client_secret" : "secret",
  "resource_ids" : [ ],
  "authorized_grant_types" : [ "password", "authorization_code", "client_credentials", "refresh_token" ],
  "authorities" : [ "uaa.resource"],
  "token_salt" : "9g3qI6",
  "autoapprove" : true,
  "allowedproviders" : [ "uaa", "ldap", "my-saml-provider" ],
  "name" : "The ultima weather application",
  "redirect_uri" : [ "http://localhost:8080/*", "http://localhost:8080/app/" ],
  "access_token_validity" : "315360000"
}

* I create a user
>POST http://localhost:8080//uaa/Users
 {
  "externalId" : "weatherUserUP",
  "meta" : {
    "version" : 0,
    "created" : "2017-07-28T23:56:23.817Z"
  },
  "userName" : "weatherUserUP",
  "name" : {
    "formatted" : "Weather user",
    "familyName" : "Weather",
    "givenName" : "User"
  },
  "emails" : [ {
    "value" : "weatheruser@app.com",
    "primary" : true
  } ],
  "phoneNumbers" : [ {
    "value" : "5555555555"
  } ],
  "active" : true,
  "verified" : true,
  "origin" : "",
  "password" : "secret",
  "schemas" : [ "urn:scim:schemas:core:1.0" ]
}
* I create 2 groups "weatherUP.favoritescities.read" and "weatherUP.favoritescities.write" with the previous user as a member
> POST http://localhost:8080//uaa/Groups
{
    "displayName": "weatherUP.favoritescities.read",
    "description": "read the weater favorite cities",
    "members": [
        {
            "origin": "uaa",
            "type": "USER",
            "value": "5372de47-43b5-4e35-b46e-c360f7b1b1a3"
        }
    ]
}
> POST http://localhost:8080//uaa/Groups
{
    "displayName": "weatherUP.favoritescities.write",
    "description": "read the weater favorite cities",
    "members": [
        {
            "origin": "uaa",
            "type": "USER",
            "value": "5372de47-43b5-4e35-b46e-c360f7b1b1a3"
        }
    ]
}
* I obtain an access with a password grant for my client application and the previous user
> POST http://localhost:8080//uaa/oauth/token?username=weatherUserUP&password=secret&grant_type=password
* I check the access token who contains the scopes  [...,"weatherUP.favoritescities.read"]
> obtained payload
{
  "jti": "90c75d85e74f4224a202fef64f43be9a",
  "sub": "5372de47-43b5-4e35-b46e-c360f7b1b1a3",
  "scope": [
    "scim.userids",
    "weatherUP.favoritescities.read",
    "openid",
    "cloud_controller.read",
    "password.write",
    "cloud_controller.write"
  ],
  "client_id": "weatherAppUP",
  "cid": "weatherAppUP",
  "azp": "weatherAppUP",
  "grant_type": "password",
  "user_id": "5372de47-43b5-4e35-b46e-c360f7b1b1a3",
  "origin": "uaa",
  "user_name": "weatherUserUP",
  "email": "weatheruser@app.com",
  "auth_time": 1505828048,
  "rev_sig": "31cde6d",
  "iat": 1505828048,
  "exp": 1821188048,
  "iss": "http://localhost:8080/uaa/oauth/token",
  "zid": "uaa",
  "aud": [
    "scim",
    "cloud_controller",
    "password",
    "openid",
    "weatherUP.favoritescities",
    "weatherAppUP"
  ]
}

### What did you expect to see? What goal are you trying to achieve with the UAA?
I expect to obtain an access token containing the scope parameter expressed as a list of space-
   delimited like it is specified in the [OAuth 2.0 RFC](https://tools.ietf.org/html/rfc6749#section-3.3)
> "scope": "scim.userids weatherUP.favoritescities.read openid cloud_controller.read password.write cloud_controller.write"

### What did you see instead?
Instead I obtain the expected scopes expressed as an array of strings 
> "scope": [
    "scim.userids",
    "weatherUP.favoritescities.read",
    "openid",
    "cloud_controller.read",
    "password.write",
    "cloud_controller.write"
  ]


We have created an issue in Pivotal Tracker to manage this: 

https://www.pivotaltracker.com/story/show/151245743 

The labels on this github issue will be updated when the story is started.

RFC 6749 describes the value of `scope` in the response from the token endpoint. The UAA's `/oauth/token` endpoint does include a [space-delimited list of scopes](https://docs.cloudfoundry.org/api/uaa/version/4.6.0/index.html#token) as specified.  

The string array that you see in the decoded JWT token is not described by the OAuth2 spec. Regarding token format, the [spec says](https://tools.ietf.org/html/rfc6749#section-1.4)

```
Access tokens can have different formats, structures, and methods of
   utilization (e.g., cryptographic properties) based on the resource
   server security requirements.  Access token attributes and the
   methods used to access protected resources are beyond the scope of
   this specification and are defined by companion specifications such
   as [RFC6750].
```

The OAuth Access Token spec (in draft at this time) https://tools.ietf.org/html/draft-ietf-oauth-access-token-jwt-10#section-2.2.3, says

   If an authorization request includes a scope parameter, the
   corresponding issued JWT access token SHOULD include a "scope" claim
   as defined in Section 4.2 of [RFC8693].

So appears to be defined as a list