UAA returns duplicated "Expires" headers

UAA returns some HTTP headers duplicated in one response.
It is easily reproduced as follows:

1. `git clone` and `gradlew run` as described in the [README.md](https://github.com/cloudfoundry/uaa/blob/9b5c13d793ebfe358e26559cedc6b528a557b43f/README.md#quick-start)
2. type `curl -k -H "Accept: application/json" -v localhost:8080/uaa/login` in another terminal, then you will get such output like:

```
*   Trying ::1...
* Connected to localhost (::1) port 8080 (#0)
> GET /uaa/login HTTP/1.1
> Host: localhost:8080
> User-Agent: curl/7.43.0
> Accept: application/json
>
< HTTP/1.1 200 OK
< Server: Apache-Coyote/1.1
< Strict-Transport-Security: max-age=31536000
< Cache-Control: no-cache, no-store, max-age=0, must-revalidate
< Pragma: no-cache
< Expires: 0
< X-XSS-Protection: 1; mode=block
< X-Frame-Options: DENY
< X-Content-Type-Options: nosniff
< Pragma: no-cache
< Cache-Control: no-cache, no-store, max-age=0
< Expires: Thu, 01 Jan 1970 00:00:00 GMT
< Content-Type: application/json;charset=UTF-8
< Content-Language: ja-JP
< Transfer-Encoding: chunked
< Date: Fri, 12 Feb 2016 13:34:31 GMT
<
* Connection #0 to host localhost left intact
{"app":{"version":"2.7.3"},"links":{"uaa":"http://localhost:8080/uaa","passwd":"/forgot_password","login":"http://localhost:8080/uaa","register":"/create_account"},"zone_name":"uaa","entityID":"cloudfoundry-saml-login","commit_id":"848792d","idpDefinitions":{},"prompts":{"username":["text","Email"],"password":["password","Password"]},"timestamp":"2015-12-01T10:03:42+0900"}
```

You'll find `Cache-Control`, `Pragma`, and `Expires` headers are duplicated there.

According to [RFC 7230 section 3.2.2](http://tools.ietf.org/html/rfc7230#section-3.2.2),

>    A sender MUST NOT generate multiple header fields with the same field
>    name in a message unless either the entire field value for that
>    header field is defined as a comma-separated list [i.e., #(values)]
>    or the header field is a well-known exception (as noted below).

("a well-know exception" is `Set-Cookie`)

and according to [RFC 7234](http://tools.ietf.org/html/rfc7234), either `Cache-Control` and `Pragma` header's value is  defined as a comma-separated list, but `Expires` header is defined as a single value. So multiple ``Expires` header is in violation of the RFCs and thus treated as an error by API gateways such as Apigee, etc.

A set of those three headers seems coming from Spring Security defaults, because they have the same value (cf. https://docs.spring.io/spring-security/site/docs/current/reference/html/headers.html#default-security-headers ).

Anyway, for the RFC-compliance, I think UAA should delete at least one `Expires` header from its HTTP response.


We have created an issue in Pivotal Tracker to manage this. You can view the current status of your issue at: https://www.pivotaltracker.com/story/show/113624961.

I'm sorry I'm wrong.
I've used an older version (2.7.3).

The latest master (https://github.com/cloudfoundry/uaa/tree/9b5c13d793ebfe358e26559cedc6b528a557b43f) only duplicates `Cache-Control` header.

```
$ curl -k -H "Accept: application/json" -v localhost:8080/uaa/login
*   Trying ::1...
* Connected to localhost (::1) port 8080 (#0)
> GET /uaa/login HTTP/1.1
> Host: localhost:8080
> User-Agent: curl/7.43.0
> Accept: application/json
>
< HTTP/1.1 200 OK
< Server: Apache-Coyote/1.1
< Strict-Transport-Security: max-age=31536000
< Cache-Control: no-cache, no-store, max-age=0, must-revalidate
< Pragma: no-cache
< Expires: 0
< X-XSS-Protection: 1; mode=block
< X-Frame-Options: DENY
< X-Content-Type-Options: nosniff
< Cache-Control: no-store
< Content-Type: application/json;charset=UTF-8
< Content-Language: ja-JP
< Transfer-Encoding: chunked
< Date: Fri, 12 Feb 2016 14:53:44 GMT
<
* Connection #0 to host localhost left intact
{"app":{"version":"3.1.0"},"links":{"uaa":"http://localhost:8080/uaa","passwd":"/forgot_password","login":"http://localhost:8080/uaa","register":"/create_account"},"zone_name":"uaa","entityID":"cloudfoundry-saml-login","commit_id":"9b5c13d","idpDefinitions":{},"prompts":{"username":["text","Email"],"password":["password","Password"]},"timestamp":"2016-02-05T23:27:13+0900"}
```