Encoding/decoding issues with handling of redirect_uri

Our console is forwarding a request to the login server that contains a url encoded redirect_url:
```
https://example.com/dashboard/?appGuid=app-guid&ace_config=%7B%22orgGuid%22%3A%22org-guid%22%2C%22spaceGuid%22%3A%22space-guid%22%2C%22appGuid%22%3A%22app-guid%22%2C%22redirect%22%3A%22https%3A%2F%2Fexample.com%2F%22%7D
```

When we redirect to the login server, the request looks like this:
```
https://login.example.com/UAALoginServerWAR/oauth/authorize?response_type=code&client_id=client_id&scope=openid%2Ccloud_controller.read&redirect_uri=https%3A%2F%2Fexample.com%2Fdashboard%2F%3FappGuid%3Dapp-guid%26ace_config%257B%2522orgGuid%2522%253A%2522org-guid%2522%252C%2522spaceGuid%2522%253A%2522space-guid%2522%252C%2522appGuid%2522%253A%2522app-guid%2522%252C%2522redirect%2522%253A%2522https%253A%252F%252Fexample.com%252F%2522%257D&state=-1504060196
```

Later, when the UAA redirects back to the console, the URL looks like this:
```
https://example.com/dashboard/?appGuid=app-guid&ace_config=%257B%2522orgGuid%2522%253A%2522org-guid%2522%252C%2522spaceGuid%2522%253A%2522space-guid%2522%252C%2522appGuid%2522%253A%2522app-guid%2522%252C%2522redirect%2522%253A%2522https%253A%252F%252Fexample.com%252F%2522%257D&code=1WaJaV&state=-1504060196
```

It appears that the %encoding of `%` is not being handled correctly.  This behavior difference seems to have been introduced between 1.8 and 1.11.


We have created an issue in Pivotal Tracker to manage this. You can view the current status of your issue at: https://www.pivotaltracker.com/story/show/87310482.

Is 

    https://example.com/dashboard/?appGuid=app-guid&ace_config=%7B%22orgGuid%22%3A%22org-guid%22%2C%22spaceGuid%22%3A%22space-guid%22%2C%22appGuid%22%3A%22app-guid%22%2C%22redirect%22%3A%22https%3A%2F%2Fexample.com%2F%22%7D


the registered URL?

The [proposed fix](https://github.com/cloudfoundry/uaa/commit/45b639a398609b401bc56d0b99f84d66055adadf) assumes that the pre-registered redirect URI is already in an correctly encoded form. the solution is to decode it upon creation, add new variables and then re-encode the query parameters again

Fascinating problem, most because of how different libraries consider encoded.
What I have done here is opened up the issue for a code review. I have placed comments inline for each pull request. Kindly click on each solution and add your comments

 [first proposed solution](https://github.com/cloudfoundry/uaa/pull/118) 

 [second proposed solution](https://github.com/cloudfoundry/uaa/pull/119)



After evaluating the issue. We have determined that 

1. We will assume that every Redirect URI is already properly encoded
2. That the URI is encoded using application/x-www-form-urlencoded format
3. Any parameters we add to the redirect URI will also be encoded using the application/x-www-form-urlencoded format
4. We will create a story to validate redirect URI during client creation/update

This is based on

    The redirection endpoint URI MUST be an absolute URI as defined by
    [RFC3986] Section 4.3.  The endpoint URI MAY include an
    "application/x-www-form-urlencoded" formatted (per Appendix B) query
    component ([RFC3986] Section 3.4), which MUST be retained when adding
    additional query parameters.  The endpoint URI MUST NOT include a
    fragment component.

https://tools.ietf.org/html/rfc6749#section-3.1.2

@fhanik thank you for looking at this today and turning it around so quickly. I'll get this deployed and tested in our staging environment as quickly as possible and get back to you.

Again, thank you for fast turnaround.

@sykesm Matthew, it's not quite ready yet. This turns out to be pretty complicated. You see, the spec says that the query parameters should be x-www-form-urlencoded. But if we enforce that, we run into many different things. For example, x-www-form-urlencoded turns spaces into +, but Spring doesn't handle that very well. A simple test like this fails

    @Test
    public void testDecodeScopes() throws Exception {
        String xWWWFormEncodedscopes = "scim.userids+password.write+openid+cloud_controller.write+cloud_controller.read";
        Assert.assertEquals(URLDecoder.decode(xWWWFormEncodedscopes), UriUtils.decode(xWWWFormEncodedscopes, "UTF-8"));
    }

So I'm trying to evaluate where we need to draw the line, follow the spec and use the proper encoding, and if not, how do we find a happy medium. Do we just stick with Spring's definition of encoding?

@fhanik if you don't follow the spec, then you'll be throwing interoperability out the window. Given that this issue was raised because of an interoperability issue; it seems to me that the proper course is not the status quo.

@christo4ferris It's a bit more complicated than 'following the spec'.
The RFC 6749 (oauth 2 spec) requires that URI redirect query parameters are encoded using x-www-form-urlencoded. RFC 7230 (HTTP 1.1 spec) requires that URIs follow the RFC 3986 (URI spec)

x-www-form-urlencoded didn't have a formalized notation when the OAuth 2 spec was written, but using + as an encoding for space violates the URI spec since + is a reserved character. Now the URI spec leaves it up to the schema to define what reserved characters are used. And since the HTTP spec refers right back to the URI spec, + remains a reserved character for HTTP URIs.

So we have to find a happy medium. When we run into interoperability issues, we will have to address them one by one. Cause as it stands now, the specs are in a bit of a contradiction.

@christo4ferris the pickle is the contradiction of specs. The OAuth 2 spec demands that encoding of values in the redirect URI are x-www-form-encoded, now the latest HTTP specification refers back to the URI specification for exact URI syntax. This syntax defines + as a special character. 